{% extends "base.html" %}
{% load static %}
{% block content %}
{% for hackathon in hackathon %}
<div class="row">
	<div class="col-12 text-center mb-3 ">
		<h2 class="p-orange text-center mb-4">{{ hackathon }}</h2>
		{% endfor %}

	</div>
</div>
<div class="card-group">
<div class="row d-flex justify-content-center card-body">
	{% for teams in teams %}
	<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
		<div class="card border-dark mb-3 text-center">
			<h5 class="p-orange card-title">{{ teams.team_name }}</h5>
			<p class=text-muted">{{ teams.team_description }}<p>
					<span>{{ teams.image_url }}</span>
					<h6 class="p-orange text-center mb-4">Participants</h6>
					{% for team_members in team_members %}
					<p class="text-left">{{ team_members }}</p>
					{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>
</div>
{% endblock %}